<template>
    <div>
        <h1>Feed</h1>
        <my-products></my-products>
    </div>
</template>


<script>
    import Products from './product/products.vue'
    export default {
       components: {
           myProducts: Products
       }
    }

</script>


<style>

</style>