<template>
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <router-link to="/" tag="li"  exact>
                    <a>Home</a>
                </router-link>

                <router-link to="/login" tag="li" v-if=" !isAuth ">
                    <a>Login</a>
                </router-link>

                <router-link to="/register" tag="li" v-if=" !isAuth ">
                    <a>Register</a>
                </router-link>

                <router-link to="/feed" tag="li" v-if="isAuth ">
                    <a>Feed</a>
                </router-link>

                <router-link to="/products/create" tag="li" v-if="isAuth ">
                    <a>Create</a>
                </router-link>

                <li>
                    <a class="logout"
                            @click="logout"  v-if="isAuth ">
                        logout
                     </a>
                </li>

            </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
    </div>
</template>


<script>
    export default {
        computed: {
            isAuth () {
                return this.$store.state.isAuth
            },
            token(){
              return this.$store.getters.getToken
            }
        },

        created(){
          this.$store.state.isAuth = this.$auth.isAuthenticated();
          this.setAuthenticatedUser();
        },
        methods:{
            setAuthenticatedUser(){
                this.$http.get('api/user')
                    .then(response =>{
                        this.$auth.setAuthenticatedUser(response.body)

                    })
            },
            logout(){
                this.$http.get('api/logout')
                    .then(response =>{
                        this.$auth.setAuthenticatedUser(response.body)

                    }).then( response =>{
                        console.log(response)
                })
                this.$auth.destroyToken();
                this.$store.commit('logout');
                this.$router.push('/')
            }
        }
    }
</script>


<style>

    body {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header{
        padding-right: 15px;
        padding-left: 15px;
    }

    .header {
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
    }

    .header h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
    }
    .logout{
        cursor: pointer;
    }


    @media (min-width: 768px) {
        .container {
            max-width: 730px;
        }
    }

    .container-narrow > hr {
        margin: 30px 0;
    }


    .jumbotron .btn {
        padding: 14px 24px;
        font-size: 21px;
    }


    .marketing p + h4 {
        margin-top: 28px;
    }

    @media screen and (min-width: 768px) {
        .header,
        .marketing{
            padding-right: 0;
            padding-left: 0;
        }

        .header {
            margin-bottom: 30px;
        }

        .jumbotron {
            border-bottom: 0;
        }
    }

</style>