<template>
    <div class="row">
        <div class="coi-md-8 col-md-offset-2">
            <div class="panel-default panel">
                <div class="panel-body">
                    <form @submit.prevent="create">
                        <div class="form-group">
                            <label >Img</label>
                            <input type="file"
                                   class="form-controll"
                                   @change="imageChanged"
                                   v-validate="'required'"
                                   name="img"
                            >
                            <div class="help-block alert alert-danger"
                                 v-show="errors.has('img')">

                                {{ errors.first('img') }}

                            </div>
                        </div>
                        <div class="for-group">
                            <label>Name:</label>
                            <input type="text" name="name"
                                   class="form-control"
                                   v-validate="'required'"
                                   v-model="product.name">
                            <div class="help-block alert alert-danger"
                                 v-show="errors.has('name')"
                            >
                                {{ errors.first('name') }}

                            </div>
                        </div>
                        <div class="for-group">
                            <label>Price:</label>
                            <input type="number"
                                   name="price"
                                   v-validate="'max_value:1000|min_value:1'"
                                   class="form-control" v-model="product.price">
                            <div class="help-block alert alert-danger"
                                 v-show="errors.has('price')">

                                {{ errors.first('price') }}

                            </div>
                        </div>
                        <div class="for-group">
                            <label>Description:</label>
                            <textarea class="form-control" name="description"
                                      v-validate="'required'"
                                      v-model="product.description"></textarea>
                            <div class="help-block alert alert-danger"
                                 v-show="errors.has('description')">

                                {{ errors.first('description') }}

                            </div>
                        </div>
                        <input type="submit"
                               class="btn btn-success pull-right" value="Create">
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>


<script>
    export default {
        data(){

            return {
                product: {
                    name: '',
                    price: '',
                    description: '',
                    image: ''
                }
            }
        },
        methods: {
            imageChanged(e){
                let  fileReader = new FileReader();
                fileReader.readAsDataURL(e.target.files[0]);
                fileReader.onload = (e) => {
                    this.product.image = e.target.result;
                }
            },
            create(){
                this.$validator.validateAll().then(() => {
                    this.$http.post('api/products', this.product)
                        .then(response => {
                            this.$router.push('/feed')
                        })
                });
            }
        }
    }
</script>


<style>

</style>