<template>
    <div class="row">
        <div class="coi-md-8 col-md-offset-2">
            <div class="panel-default panel">
                <div class="panel-body">
                    <form @submit.prevent="update">
                        <div class="for-group">
                            <label>Name:</label>
                            <input type="text" name="name"
                                   class="form-control"
                                   v-validate="'required'"
                                   v-model="product.name">
                            <div class="help-block alert alert-danger"
                                 v-show="errors.has('name')"
                            >
                                {{ errors.first('name') }}

                            </div>
                        </div>
                        <div class="for-group">
                            <label>Price:</label>
                            <input type="number"
                                   name="price"
                                   v-validate="'max_value:1000|min_value:1'"
                                   class="form-control" v-model="product.price">
                            <div class="help-block alert alert-danger"
                                 v-show="errors.has('price')">

                                {{ errors.first('price') }}

                            </div>
                        </div>
                        <div class="for-group">
                            <label>Description:</label>
                            <textarea class="form-control" name="description"
                                      v-validate="'required'"
                                      v-model="product.description"></textarea>
                            <div class="help-block alert alert-danger"
                                 v-show="errors.has('description')">

                                {{ errors.first('description') }}

                            </div>
                        </div>
                        <input type="submit"
                               class="btn btn-success pull-right" value="Update">
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>


<script>
    import swal from 'sweetAlert';

    export default {
        created(){
            this.getProduct()
        },
        data(){
            return {
                product: {}
            }
        },

        methods: {
            getProduct(){
                this.$http.get('api/products/' + this.$route.params.product)
                    .then( response => {
                        this.product = response.body
                    })
            },
            update(){

                this.$validator.validateAll().then(() => {
                    this.$http.put('api/products/' + this.$route.params.product, this.product)
                        .then(response => {
                            swal('Updated', 'product updated', 'success')
                        })
                });


            }
        }

    }
</script>


<style>

</style>