<template>
    <div class="row">
        <my-product v-for="product in products.data"
        :authenticatedUser="authenticatedUser"
        @delete-product="deleteProduct(product)"
        :product="product"
        ></my-product>
        <pagination :data="products" v-on:pagination-change-page="getResults"></pagination>
    </div>
</template>


<script>
    import Product from './product.vue'
    import swal from 'sweetAlert';

    export default {
        data(){

            return {
                products: {},
            }
        },
        computed:{
            authenticatedUser() {
                return this.$auth.getAuthenticatedUser()
            }
        },
        created(){
            this.setAuthenticatedUser();
            this.getResults()
        },
        methods: {
            getResults(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }
                this.$http.get('api/products?page=' + page)
                    .then(response => {
                        console.log(response.json());
                        return response.json();
                    }).then(data => {
                    this.products = data;
                });
            },
            setAuthenticatedUser(){
                this.$http.get('api/user')
                    .then(response =>{
                        this.$auth.setAuthenticatedUser(response.body)
                    })
            },
            deleteProduct(product){
                swal({
                        title: "Are you sure?",
                        text: "You will not be able to recover this product!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        closeOnConfirm: false
                    },
                    function () {

                        this.$http.delete('api/products/' + product.id)
                            .then( response => {
                                let index =this.products.data.indexOf(product);
                                this.products.data.splice(index,1);
                                swal("Deleted!", "Your product has been deleted.", "success");
                            });

                    }.bind(this)
                );
            }
        },
        components:{
            myProduct: Product,

        }
    }

</script>



<style>

</style>