<template>
    <div class="col-md-4">
        <div class="thumbnail">
            <img :src="'http://vue-app/public/storage/img/'+product.image" alt="">
            <div class="caption">
                <h3>
                {{product.name}}
                </h3>
                <p>
                    {{product.price}}
                </p>
                <hr>
                <p>
                    <a href="#" class="btn btn-default">
                        Wish list
                    </a>
                    <a href="#" class="btn btn-success">
                        Bay
                    </a>
                </p>
                <hr>
                <p class="delete_btn">
                    <a href="#" class="btn btn-danger" role="button"
                       v-if="product.user_id == authenticatedUser.id"
                       v-on:click="$emit('delete-product')" >
                        Delete
                    </a>
                    <router-link class="btn btn-success"
                    :to="'/products/'+product.id+'/edit'"
                    >
                        Edit
                    </router-link>
                </p>
            </div>
        </div>
    </div>
</template>


<script>

    export default {

        props: ['product', 'authenticatedUser'],

    }

</script>


<style>
    .delete_btn {
        min-height: 35px;
    }
</style>