<template>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="form-group">
                            <input
                                    v-model="name"
                                    class="form-control"
                                    type="text"
                                    placeholder="Name"
                            >
                        </div>
                        <div class="form-group">
                            <input
                                    v-model="email"
                                    class="form-control"
                                    type="email"
                                    placeholder="Email"
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <input
                                v-model="password"
                                class="form-control"
                                type="password"
                                placeholder="Password"
                        >
                    </div>
                    <div class="form-group">
                        <input
                                v-model="password_confirmation "
                                class="form-control"
                                type="password"
                                placeholder="Password"
                        >
                    </div>
                    <button
                            @click="register"
                            class="btn btn-success pull-right">
                        Register

                    </button>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        data(){
            return {
                name: '',
                email: '',
                password: '',
                password_confirmation: ''
            }
        },
        methods: {
            register(){
                let data = {
                    client_id: 3,
                    client_secret: '0YLvBJYyrwG9etxYIVdJH6RGGChVuyDNBVUgOrh2',
                    grant_type: 'password',
                    name: this.name,
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.password_confirmation
                };

                this.$http.post('api/register', data)
                    .then(response => {
                        this.$auth.setToken(response.body.access_token, response.body.expires_in + Date.now());
                        this.$router.push('/feed')
                    })
            }
        }
    }
</script>


<style>

</style>